<div class="col-md-2 sidebar">
	<h2>Menú</h2>
	<ul class="nav nav-sidebar">
	  <li class="active"><a href="{% url 'comerce_app:DashBoard' %}">Inicio <span class="sr-only">(current)</span></a></li>
	  <li><a href="#">Mis datos</a></li>
	  <li><a href="#">Mis Áreas de Interés</a></li>
	  <li><a href="{% url 'comerce_app:addProducto' %}">Nuevo Producto</a></li>
	</ul>
	<ul class="nav nav-sidebar">
	  <li><a href="">Nueva Publicacion</a></li>
	  <li><a href="">Nueva factura</a></li>
	  <li><a href="">Preguntas Frecuentes</a></li>
	  <li><a href="">Ayuda</a></li>
	  <li><a href="">Terminos y Condiciones</a></li>
	</ul>
	<ul class="nav nav-sidebar">
	  <li><a href="">Cerrar Sesión</a></li>
	</ul>
</div>