{% extends "base.html" %}

{% block titulo %}
	Resultados
{% endblock titulo %}

{% block cuerpo %}
{% include "navbar_administrativo.html" %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Comercios</h1>
				<div class="clearfix">
					</div>
				{% for comercio in comercios %}
					<div class="col-sm-4">
						<div class="shop-item">
							<div class="image">
								<img class="img-fix-index" src="{{ comercio.foto_perfil.url }}">
							</div>
							<div class="single-post-title" align="center">
								<h4><a href="{% url 'comerce_app:VerComercio' comercio.id %}">{{ comercio.nombre }}</a></h4>
								<p>{{ comercio.usuario.email }}</p>
								<p>{{ comercio.rif }}</p>
								<p>0{{ comercio.get_tlf }}</p>
							</div>
							<div class="description">
								<div class="post-summary">
									<p>{{ comercio.direccion }}</p>
								</div>
							</div>
							<div class="actions">
								<a class="btn btn-xs" href="{% url 'comerce_app:VerComercio' comercio.id %}">Ver Comercio</a>
							</div>

						</div>
					</div>					
				{% endfor %}
			</div>
		</div>
	</div><!-- Container -->
{% endblock cuerpo %}
{% block pie %}
	{% include "pie.html" %}
{% endblock pie %}